// --------------------------------
// GLOBAL
// --------------------------------
body {
  background-color: $base-bg-color;
  color: $base-font-color;
}

#app-container {
  background-color: $app-container-bg-color;
}


// --------------------------------
// TEXT
// --------------------------------
body {
  color: $primary-text-color;
}

// --------------------------------
// LINKS
// --------------------------------
a {
  color: $link-color;

  &:link, &:visited, &:active {
    color: $link-color;
  }
}

// --------------------------------
// LISTS
// --------------------------------

.l-list {
  & > li {
    border-bottom: 1px solid $color-gray-7;
  }
}


// --------------------------------
// BUTTONS
// --------------------------------

.icon-btn {
  color: $icon-color;

  &:hover {
    color: darken($icon-color, 20%);
  }
}

.btn-main {
   background-color:$primary-color;
   color: $base-bg-color;
}


.t-inverted {
  background-color: $primary-color-dark ;
  color: $base-bg-color;
  
  .icon-btn {
    color: $icon-color-inverted;

    &:hover {
      color: darken($icon-color-inverted, 20%);
    }
  }
}


// --------------------------------
// DIVIDERS
// --------------------------------

.t-top-divider {
  border-top: 1px solid $color-gray-6;
}