// --------------------------------
// GLOBAL
// --------------------------------
body {
  background-color: $color-gray-8;
  color: $base-font-color;
}

#app-container {
  background-color: $base-bg-color;
}


// --------------------------------
// APP HEADER
// --------------------------------
.app-header {
  .icon-btn, .circle-btn {
    color: $primary-color-light;

    &:hover {
      color: $primary-text-inverted;
    }

  }
}


// --------------------------------
// LISTS
// --------------------------------

.l-list {
  & > li {
    border-bottom: 1px solid $color-gray-7;
  }
}


// --------------------------------
// BUTTONS, ICONS
// --------------------------------

.btn{
  background-color: $accent-color;
  border:none;
  color: $primary-text-inverted;

  &:hover {
    background-color: darken( $accent-color, 10% );
  }

  &.btn-google {
    background-color: $color-google;
    &:hover {
      background-color: darken( $color-google, 10% );
    }
  }
  &.btn-facebook {
    background-color: $color-facebook;
    &:hover {
      background-color: darken( $color-facebook, 10% );
    }
  }
}

.btn-secondary {
  background-color: $color-gray-6;
  &:hover {
    background-color: darken($color-gray-6, 20%);
  }
}


.icon-btn, .circle-btn {
  color: $icon-color;

  &:hover {
    color: darken($icon-color, 20%);
  }
}

.circle-btn {
  background-color: transparent;

 &:hover {
   background-color: $primary-color;
  }
}