// .btn{
//   width: 100%;
//   max-width: $btn-max-width;
//   padding:.5em;

//   &.btn-with-icon {
//     padding-left: 1em;
//     i {float: left;}
//   }
// }

.btn-small {
  font-size: $btn-small;

  .material-icons {
    font-size: $btn-small;
  }
}
.btn-x-small {
  font-size: $btn-x-small;

  .material-icons {
    font-size: $btn-small;
  }
}