.text-btn{
  font-size: $btn-dflt-size;
}

.icon-btn{
  background-color: transparent;
  border:none;

  .material-icons {
    font-size: $btn-dflt-size;
  }

  margin:0;
  padding: 0;
  text-align: center;

  &:focus {
   outline: 0;
  }
}

.btn-small {
  font-size: $btn-small;

  .material-icons {
    font-size: $btn-small;
  }
}
.btn-x-small {
  font-size: $btn-x-small;

  .material-icons {
    font-size: $btn-small;
  }
}

.btn-main {
  width: 100%;
  max-width: $btn-main-max-width;
}