.circle-btn {
  border:none;
  width: $btn-dflt-size + .5em;
  height:  $btn-dflt-size + .5em;
  margin:0;
  padding: 0;
  padding-top:10%;
  border-radius:50%;
  text-align: center;

  .material-icons {
    font-size: $btn-dflt-size;
  }

  &:focus {
   outline: 0;
  }
}