// _________________________________
//
// FLEX ROW with options for vertical/horizontal centering 
// _________________________________

//HELPERS
@mixin flex-row-centered {
  display: flex;
  flex-flow: row nowrap;
 
 
  &.l-flex-centered {
  	 justify-content: center;
  }  

  &.l-flex-vertical-middle {
  	align-items:center;
  }  

  .l-flex-main-content {
  	 flex: 1;
  }

  .l-flex-icon-column {
  	 width: $l-flex-icon-column-width;
  }
}

.l-flex-row-centered {
	@include flex-row-centered;
}


