// ******* FLEX MAIN CONTENT ******* 
.flex-main-content {
  flex: 1;
}

//Here, we are first creating a 'mixin' or snippet of css that we can 'mix in' with other css.  Then, we also define the mixin as a css class, so that we can use it as a stand-alone.
// ******* FLEX COLUMN ******* 
@mixin flex-column {
  display: flex;
  flex-flow: column;
}

.flex-column {
  @include flex-column;
}


// ******* FLEX ROW ******* 
@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
 
  &.flex-centered {
  	 justify-content: center;
  }  
  &.flex-vertical-middle {
  	align-items:center;
  }  
}

.flex-row {
	@include flex-row;
}


