// _________________________________
//
// FULL HEIGHT CENTERED VIEWPORT
// _________________________________

html {
  height: 100%; //While this is base styling, we are including it in the layout stylesheet because it is needed for a full height layout
}
body {
  min-height: 100%; // min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height
}
#app-container {
  height: 100vh; //set the app container to fill the viewport height
  max-width: $app-container-max-width; 
  margin: 0 auto; //center the app in larger viewports
  @include flex-column;
}

#main-content {
	flex: 1;
	@include flex-column;
	padding-left: $main-content-left-right-padding;
	padding-right: $main-content-left-right-padding;
}
