#main-content {
	padding-top:$app-header-left-right-padding;
	padding-bottom:$app-header-left-right-padding;
	padding-left: $main-content-left-right-padding;
	padding-right: $main-content-left-right-padding;
}