// Apply a natural box layout model to all elements, but allowing components to change - http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html,body {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

html {
  height: 100%;
}

body {
  // min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height
  min-height: 100%;
}

#app-container {
 //set the app container to fill the viewport height
 height: 100vh;

 //center the app in larger viewports
 max-width: $app-container-width;
 margin: 0 auto;

}