//three column centered horizontal flex layout with the center block filling remaining space
.flex-row-centered {
  display: flex;
  flex-flow: row nowrap;
  align-items:center;

  .flex-left-right-icons {
    width: 3em;
  }

}

//flex column layout with a child block that fills remaining vertical space
.flex-column {
  display: flex;
  flex-direction: column;
}

//content that should fill remaining space
.flex-main-content {
  flex: 1;
}