.helper-centered {
	text-align: center;
}
.helper-full-width {
	width: 100%;
}
.helper-top-padding {
	padding-top: 1em;
}

.helper-bottom-spacing {
	margin-bottom: 1em;
}
.helper-clickable {
  &:hover {
    cursor: pointer;
  }
}