.l-centered {
	text-align: center;
}
.l-full-width {
	width: 100%;
}
.l-top-padding {
	padding-top: 1em;
}
.l-bottom-spacing {
	margin-bottom: 1em;
}
.clickable {
  &:hover {
    cursor: pointer;
  }
}