//This is where all (or most) values that we define in our css is set.  It basically works as a kind of config file, and some people do name this file '_config'


// *******  LAYOUTS  *******

// App Container
$app-container-max-width:           40em;
$app-container-min-width:           15em;
$app-container-left-right-padding:   2em;

//App Header
$app-header-height:                 4em;

// *******  COMPONENTS  *******

// Lists
$list-item-padding:             1em;
$li-margin-bottom:            .35em;

// Buttons
$btn-main-max-width:            8em;
$btn-dflt-size:               1.5em;
$btn-small:                     1em;


// *******  COLORS  *******

/* Palette: materialpalette.com/indigo/light-blue */
$primary-color-dark:        #303F9F;
$primary-color:             #3F51B5;
$primary-color-light:       #C5CAE9;
$primary-color-text:        #FFFFFF;
$accent-color:              #03A9F4;
$primary-text-color:        #212121;
$secondary-text-color:      #727272;
$divider-color:             #B6B6B6;

//Material UI Grayscale: http://www.materialui.co/colors
$color-gray-10:             #FAFAFA; //lightest
$color-gray-9:              #F5F5F5;
$color-gray-8:              #EEEEEE;
$color-gray-7:              #E0E0E0;
$color-gray-6:              #BDBDBD;
$color-gray-5:              #9E9E9E;
$color-gray-4:              #757575;
$color-gray-3:              #616161;
$color-gray-2:              #424242;
$color-gray-1:              #212121; //darkest

// Base colors
$base-bg-color:             $color-gray-9;
$base-font-color:           $color-gray-1;
$app-container-bg-color:    #FFFFFF;
$link-color:                $primary-color;
$divider-line:              1px solid $color-gray-7;
$icon-color:                $secondary-text-color;
$icon-color-inverted:       $color-gray-10;

// *******  TEXT  *******

$base-font:                 "proxima-nova", 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$base-font-size:            1.2em;
$heading-1:                 1.25em;



